---
import { readAll } from "../lib/markdoc/read";
import { blog } from "../lib/markdoc/frontmatter.schema";
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE } from "../config";

const posts = await readAll({
  directory: "blog",
  frontmatterSchema: blog,
});

const sortedPosts = posts
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );
---

<PageLayout>
  <PageMeta title={`Blog | ${SITE_TITLE}`} slot="meta" />
  <section slot="main" class="mx-auto">
    <div class="gap-4 flex flex-1 flex-wrap ">
      {
        sortedPosts.map((post) => {
          const formattedDate = new Date(
            post.frontmatter.date
          ).toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          });
          return (
            <article class="w-5/6 md:w-5/6 xl:w-96 relative font-normal bg-black overflow-hidden rounded-lg shadow transition hover:shadow-lg">
              <a href={`/blogs/${post.slug}`}>
                {
                    post.frontmatter.ogImagePath && (
                        <div class="absolute inset-0">
                        <img
                            src={post.frontmatter.ogImagePath}
                            alt={post.frontmatter.title}
                            class=" inset-0 w-full h-full object-cover opacity-50"
                        />
                        </div>
                    )
                }

                <div class="relative bg-gradient-to-t from-gray-900/50 to-gray-900/25 w-full h-full">
                  <div class="p-4 sm:p-6">
                    <time
                      datetime="2022-10-10"
                      class="block text-xs text-white/90 mb-4"
                    >
                      {formattedDate}
                    </time>

                    <a href={`/blog/${post.slug}`}>
                      <h3 class="mt-0.5 text-xl text-white">
                        {post.frontmatter.title}
                      </h3>
                    </a>
                  </div>
                </div>
              </a>
            </article>
          );
        })
      }
    </div>
  </section>
  <!--  -->
  <style>
    .test {
    }
  </style>
</PageLayout>
