---
/* 
  This layout is used in pages that render markdoc content
  - pages/blog/[slug].astro
*/

// Import the global.css file here so that it is included on
import { ViewTransitions } from 'astro:transitions';
import "../styles/global.css";
import "astro-breadcrumbs/breadcrumbs.css";
import GoogleFont from "./GoogleFont.astro";
import FontAwesome from "./FontAwesome.astro";
import ThemeScript from "./ThemeScript.astro";
import Favicon from "./Favicon.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import GoogleAds from "./GoogleAds.astro";
import GoogleAnalytics from "./GoogleAnalytics.astro";
import Author from "src/components/Author.astro";

export interface Props {
  title: string;
  date: Date;
  ogImagePath?: string;
  author: any;
  tags: any;
}

const { title, date, ogImagePath, author, tags } = Astro.props;
console.log(tags)
const formattedDate = new Date(date).toLocaleDateString("en-us", {
  year: "numeric",
  month: "short",
  day: "numeric",
});
import { Breadcrumbs } from "astro-breadcrumbs";
---

<!DOCTYPE html>
<html class="theme-sleek" lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content="Blogster" />
    <Favicon />
    <slot name="meta" />
    <GoogleFont />
    <ThemeScript />
    <FontAwesome />
    <GoogleAds />
    <link href="/_pagefind/pagefind-ui.css" rel="stylesheet" />
		<script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
    <GoogleAnalytics />
    <ViewTransitions />
  </head>

  <body class="">
    <Header />

    <main class="min-h-screen max-w-3xl mx-auto px-6 sm:px-8" id="main">
      <div class="unset text-slate-900 dark:text-white pb-4">
        <Breadcrumbs>
          <svg
            slot="index"
            aria-label="Home Page"
            class="unset"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z">
            </path><polyline points="9 22 9 12 15 12 15 22"></polyline>
          </svg>
          <svg
            slot="separator"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            class="unset"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><polyline points="9 18 15 12 9 6"></polyline>
          </svg>
        </Breadcrumbs>
      </div>
      <section class="blog-post prose max-w-none prose-sleek">
        
        <img src={ogImagePath} alt={title} class="main-image rounded-lg shadow w-full" />
        <h1 class="mt-[2rem] mb-[0.25em]">{title}</h1>
        <div class="flex">
          <time class="block mb-[1.5em] text-text-muted">{formattedDate}</time>
        </div>
        <slot name="content" />
      </section>
      <Author name={author} />
    </main>
    <Footer />
    <style>
    </style>
    
    <slot />
  </body>
</html>
